/*index*/
body,
p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
h2 {
  margin: 15px 0;
}
a {
  color: #000;
  text-decoration: none;
}
p {
  line-height: 2em;
}
body {
  min-width: 568px;
  font-family: "Hiragino Sans GB", "Helvetica Neue", '微软雅黑', Tohoma;
}
.menu {
  height: 50px;
  min-width: 568px;
  background-color: #576069;
}
.menu ul {
  float: right;
  height: 50px;
  line-height: 36px;
  font-weight: bold;
}
.menu ul li a {
  color: #ccc;
  background: none;
}
.menu ul li a:hover {
  color: #fff;
  background: none;
}
.menu ul li a.active {
  color: #fff;
}
.post-meta {
  color: #999;
  font-size: 90%;
  margin: 0;
}
.post-meta .post-category {
  margin: 0 0.1em;
  padding: 0.3em 1em;
  color: #fff;
  background: #999;
  font-size: 80%;
}
.post-meta .post-category-js {
  background: #df2d4f;
}
.post-meta .post-category-css {
  background: #5aba59;
}
.post-meta .post-category-webgl {
  background: #4d85d1;
}
.post-meta .author {
  margin-right: 5px;
  color: #f00;
}
.top-margin {
  margin-top: 50px !important;
}
/*form*/
.two-form {
  padding-top: 80px;
}
.two-form .form-tab {
  width: 35%;
  padding-bottom: 10px;
  margin: 0 auto 20px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
.two-form .form-tab .tab-item {
  padding: 5px 15px;
  color: #aaa;
  font-weight: bold;
  font-size: 18px;
}
.two-form .form-tab .active {
  color: #000;
}
.two-form .login-form {
  width: 35%;
  margin: 0 auto;
}
.two-form .login-form label {
  width: 5em;
}
.two-form .login-form .pure-button-submit {
  display: block;
  width: 60%;
  margin: 30px auto;
  color: #fff;
  background-color: #0078e7;
}
.two-form .login-form .control-group {
  font-size: 12px;
  text-align: center;
}
.two-form .login-form .control-group .remember {
  margin-right: 15px;
}
.two-form .login-form .control-group #forget,
.two-form .login-form .control-group .remember {
  cursor: pointer;
}
.create-form {
  width: 80%;
  padding: 15px 0;
  margin: auto;
}
.create-form .create-control-group {
  margin-bottom: 15px;
}
.create-form textarea {
  width: 100%;
  height: 350px;
  resize: none;
}
/*article*/
.article-box {
  width: 60%;
  margin: 0 auto 50px;
  padding-top: 50px;
}
.article-box .article-title {
  margin-bottom: 10px;
}
.article-box .content {
  padding: 20px 0;
}
.article-box .assist {
  margin: 30px 0 50px;
  text-align: center;
}
.article-box .assist .like {
  padding: 0.6em 1.6em;
  border: 1px solid #fe4365;
  font-size: 1.3em;
  color: #fe4365;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #fff;
}
.article-box .assist .like .like-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background: url("../images/like.png") center no-repeat;
  background-size: cover;
}
.article-box .comment {
  padding: 0;
}
.article-box .comment-tab {
  padding: 15px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.article-box .comment-tab > div {
  display: inline-block;
}
.article-box .comment-tab .add-comment {
  float: right;
}
.article-box .comment-list {
  padding: 20px 15px;
}
.article-box .commenter {
  float: left;
}
.article-box .commenter .head {
  width: 45px;
  height: 45px;
  margin-right: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  vertical-align: middle;
}
.article-box .comment-post .name {
  color: #4094c7;
}
.article-box .comment-post .name,
.article-box .comment-post .post-meta {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
.article-box .comment-content {
  border-bottom: 1px solid #ddd;
}
.article-box .comment-content .comment {
  margin: 10px 0 20px 65px;
}
.article-box .comment-content .reply {
  margin-right: 5px;
  margin-bottom: 15px;
  text-align: right;
  color: #aaa;
}
/*index*/
#self {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  min-width: 142px;
  text-align: center;
  background-color: #fe4365;
  z-index: 10;
}
#self .intro-box {
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  color: #fff;
}
#self .intro-box .portrait {
  display: block;
  width: 100px;
  height: 100px;
  margin: auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: url("../images/portrait.jpg") center no-repeat;
  background-size: cover;
}
#self .intro-box .name {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
}
#content {
  height: 100vh;
  margin-left: 25%;
}
.article-list {
  padding: 50px 3em;
}
.article-list .article-list-item {
  padding: 1em 2em 2.5em 2em;
  border-bottom: 1px solid #eee;
}
.article-list .article-list-item .article-header {
  margin-bottom: 20px;
}
.article-list .article-list-item .item-title {
  font-size: 1.5em;
}
/*markdown*/
pre {
  padding: 10px 20px;
  background-color: #feffc0;
}
