<%- include header %>
	<form method='post' action='/posts' class='top-margin create-form pure-form'>
		<div class="create-control-group">
			<input class='pure-input-1' type='text' id='title' name='title' value='标题' />
		</div>
		<div class="create-control-group">
			<input class='pure-input-2-3' type='text' name='abstract' value='摘要' /> 
		</div>
		<div class="create-control-group">
			<input class='pure-input-1-2' type='text' id='tag' name='tag' value='标签' />
		</div>
		<textarea name='content'></textarea>
		<input type='submit' value='发表' />
	</form>
<%- include footer %>