<form class='pure-form pure-form-aligned login-form' method='post'>
	<fieldset>
		<div class='pure-control-group'>
			<label for='email'>邮箱</label>
			<input id='email' name='email' type='email' placeholder='邮箱'>
		</div>
		<div class='pure-control-group'>
			<label for='pwd'>密码</label>
			<input id='pwd' name='password' type='password' placeholder='密码'>
		</div>
		<button type='submit' class='pure-button pure-button-submit'>登录</button>
		<div class='control-group'>
			<input id='remember' type='checkbox' value='记住我'/>
			<label for='remember' class='remember'>记住我</label>
			<a href='#' id='forget'>忘记密码</a>
		</div>
	</fieldset>
	<% if(error) { %>
      <div><%= error %></div>
    <% } %>
</form>