<%- include header %>
	<div class='two-form top-margin'>
		<div class='form-tab'>
			<span class='tab-item login active'><a href='./signin'>登录</a></span>
			<span class='tab-item register'><a href='./signup'>注册</a></span>
		</div>
		<%- include reg-form %>
	</div>
<%- include footer %>