<!DOCTYPE html>
<html>
<head>
	<title>x_x 博客</title>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no'>
	<link rel='stylesheet' href='../public/css/pure-min.css' />
	<link rel='stylesheet' href='../public/css/common.css'>
	<link rel='stylesheet' href='../public/css/index.css'>
	<!--[if lte IE 8]> 
	<noscript>
	     <style>.html5-wrappers{display:none!important;}</style>
	     <div class="ie-noscript-warning">您的浏览器禁用了脚本，请<a href="">查看这里</a>来启用脚本!或者<a href="/?noscript=1">继续访问</a>.
	     </div>
	</noscript>
	<![endif]-->
</head>
<body>
	<nav class='pure-menu pure-menu-horizontal pure-menu-fixed menu'>
		<ul class='pure-menu-list'>
			<li class='pure-menu-item'><a href='#' class='pure-menu-link active'>首页</a></li><li class='pure-menu-item'><a href='#' class='pure-menu-link'>随笔</a></li><li class='pure-menu-item'><a href='#' class='pure-menu-link'>个人信息</a></li><li class='pure-menu-item'><a href='#' class='pure-menu-link'>登录</a></li>
		</ul>
	</nav>
	<form method='post' class='top-margin create-form pure-form'>
		<div class="create-control-group">
			<input class='pure-input-1' type='text' id='title' name='title' value='标题' />
		</div>
		<div class="create-control-group">
			<input class='pure-input-2-3' type='text' value='x_x' readonly="" /> 
		</div>
		<div class="create-control-group">
			<input class='pure-input-1-2' type='text' id='tag' name='tag' value='标签' />
		</div>
		<textarea name='content'></textarea>
	</form>
</body>
</html>