<!DOCTYPE html>
<html>
<head>
	<title>x_x 博客</title>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no'>
	<link rel='stylesheet' href='../public/css/pure-min.css' />
	<link rel='stylesheet' href='../public/css/common.css'>
	<link rel='stylesheet' href='../public/css/index.css'>
	<!--[if lte IE 8]> 
	<noscript>
	     <style>.html5-wrappers{display:none!important;}</style>
	     <div class="ie-noscript-warning">您的浏览器禁用了脚本，请<a href="">查看这里</a>来启用脚本!或者<a href="/?noscript=1">继续访问</a>.
	     </div>
	</noscript>
	<![endif]-->
</head>
<body>
	<nav class='pure-menu pure-menu-horizontal pure-menu-fixed menu'>
		<ul class='pure-menu-list'>
			<li class='pure-menu-item'><a href='#' class='pure-menu-link active'>首页</a></li><li class='pure-menu-item'><a href='#' class='pure-menu-link'>随笔</a></li><li class='pure-menu-item'><a href='#' class='pure-menu-link'>个人信息</a></li><li class='pure-menu-item'><a href='#' class='pure-menu-link'>登录</a></li>
		</ul>
	</nav>
	<div class='content-box'>
		<div class='pure-u-1-4' id='self'>
			<div class='intro-box'>
				<span class='portrait'></span>
				<p class='name'>x_x</p>
				<p class='intru'>热爱前端</p>
			</div>
		</div><div class='pure-u-3-4' id='content'>
			<ul class='article-list'>
				<li class='article-list-item'>
					<header class='article-header'>
						<h2 class='item-title'><a href='#'>webgl</a></h2>
						<p class='post-meta'><span class='author'>x_x</span> post @ 
							<span class='post-time'>2016-10-24</span>
							<a class='post-category post-category-js' href='#'>JavaScript</a>
						</p>
					</header>
					<section class='article-item-abstract'>
						 ECharts是一个基于ZRender（轻量级Canvas类库）的纯javascript图表库，提供可交互、个性化的数据可视化图表。 ECharts提供了折线图、柱状图、散点图、饼图、K线图，以及地图、热力图、关系图等多种图表API，并支持多图混搭。 ECharts一直在交互上不断的改进
					</section>
				</li>
				<li class='article-list-item'>
					<header class='article-header'>
						<h2 class='item-title'><a href='#'>webgl</a></h2>
						<p class='post-meta'><span class='author'>x_x</span> post @ 
							<span class='post-time'>2016-10-24</span>
							<a class='post-category post-category-js' href='#'a>JavaScript</a>
						</p>
					</header>
					<section class='article-item-abstract'>
						 ECharts是一个基于ZRender（轻量级Canvas类库）的纯javascript图表库，提供可交互、个性化的数据可视化图表。 ECharts提供了折线图、柱状图、散点图、饼图、K线图，以及地图、热力图、关系图等多种图表API，并支持多图混搭。 ECharts一直在交互上不断的改进
					</section>
				</li>
				<li class='article-list-item'>
					<header class='article-header'>
						<h2 class='item-title'><a href='#'>webgl</a></h2>
						<p class='post-meta'><span class='author'>x_x</span> post @ 
							<span class='post-time'>2016-10-24</span>
							<a class='post-category post-category-js' href='#'>JavaScript</a>
						</p>
					</header>
					<section class='article-item-abstract'>
						 ECharts是一个基于ZRender（轻量级Canvas类库）的纯javascript图表库，提供可交互、个性化的数据可视化图表。 ECharts提供了折线图、柱状图、散点图、饼图、K线图，以及地图、热力图、关系图等多种图表API，并支持多图混搭。 ECharts一直在交互上不断的改进
					</section>
				</li>
				<li class='article-list-item'>
					<header class='article-header'>
						<h2 class='item-title'><a href='#'>webgl</a></h2>
						<p class='post-meta'>
							<span class='author'>x_x</span> 
							post @ 
							<span class='post-time'>2016-10-24</span>
							<a class='post-category post-category-js' href='#'>JavaScript</a>
						</p>
					</header>
					<section class='article-item-abstract'>
						 ECharts是一个基于ZRender（轻量级Canvas类库）的纯javascript图表库，提供可交互、个性化的数据可视化图表。 ECharts提供了折线图、柱状图、散点图、饼图、K线图，以及地图、热力图、关系图等多种图表API，并支持多图混搭。 ECharts一直在交互上不断的改进
					</section>
				</li>
				<li class='article-list-item'>
					<header class='article-header'>
						<h2 class='item-title'><a href='#'>webgl</a></h2>
						<p class='post-meta'>
							<span class='author'>x_x</span> 
							post @ 
							<span class='post-time'>2016-10-24</span>
							<a class='post-category post-category-js' href='#'>JavaScript</a>
						</p>
					</header>
					<section class='article-item-abstract'>
						 ECharts是一个基于ZRender（轻量级Canvas类库）的纯javascript图表库，提供可交互、个性化的数据可视化图表。 ECharts提供了折线图、柱状图、散点图、饼图、K线图，以及地图、热力图、关系图等多种图表API，并支持多图混搭。 ECharts一直在交互上不断的改进
					</section>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>