<!DOCTYPE html>
<html>
<head>
	<title>x_x 博客</title>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no'>
	<link rel='stylesheet' href='../../public/style/pure-min.css' />
	<link rel='stylesheet' href='../../public/style/common.css'>
	<link rel='stylesheet' href='../../public/style/index.css'>
	<!--[if lte IE 8]> 
	<noscript>
	     <style>.html5-wrappers{display:none!important;}</style>
	     <div class="ie-noscript-warning">您的浏览器禁用了脚本，请<a href="">查看这里</a>来启用脚本!或者<a href="/?noscript=1">继续访问</a>.
	     </div>
	</noscript>
	<![endif]-->
</head>
<body>
	<nav class='pure-menu pure-menu-horizontal pure-menu-fixed menu'>
		<ul class='pure-menu-list'>
			<li class='pure-menu-item'><a href='#' class='pure-menu-link active'>首页</a></li><li class='pure-menu-item'><a href='#' class='pure-menu-link'>随笔</a></li><li class='pure-menu-item'><a href='#' class='pure-menu-link'>个人信息</a></li><li class='pure-menu-item'><a href='#' class='pure-menu-link'>登录</a></li>
		</ul>
	</nav>
	<div class='info-content top-margin'>
		<div class='info-group'>
			<img src="../../public/images/default.jpg" class='avatar'>
			<input type='file' name='avatar' id='avatar'/>
			<input type='submit' value='上传' />
		</div>
		<div class='info-group'>
			<label for='name'>昵称</label>
			<span>x_x</span>
		</div>
		<div class='info-group'>
			<label for='name'>邮箱</label>
			<span>hxuehuan@gmail.com</span>
		</div>
	</div>
</body>
</html>