<!DOCTYPE html>
<html>
<head>
	<title>x_x 博客</title>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no'>
	<link rel='stylesheet' href='../../public/style/pure-min.css' />
	<link rel='stylesheet' href='../../public/style/common.css'>
	<link rel='stylesheet' href='../../public/style/form.css'>
	<!--[if lte IE 8]> 
	<noscript>
	     <style>.html5-wrappers{display:none!important;}</style>
	     <div class="ie-noscript-warning">您的浏览器禁用了脚本，请<a href="">查看这里</a>来启用脚本!或者<a href="/?noscript=1">继续访问</a>.
	     </div>
	</noscript>
	<![endif]-->
</head>
<body>
	<nav class='pure-menu pure-menu-horizontal pure-menu-fixed menu'>
		<ul class='pure-menu-list'>
			<li class='pure-menu-item'><a href='#' class='pure-menu-link active'>首页</a></li><li class='pure-menu-item'><a href='#' class='pure-menu-link'>随笔</a></li><li class='pure-menu-item'><a href='#' class='pure-menu-link'>个人信息</a></li><li class='pure-menu-item'><a href='#' class='pure-menu-link'>登录</a></li>
		</ul>
	</nav>
	<div class='two-form top-margin'>
		<div class='form-tab'>
			<span class='tab-item login active'>登录</span>
			<span class='tab-item register'>注册</span>
		</div>
		<form class='pure-form pure-form-aligned login-form'>
			<fieldset>
				<div class='pure-control-group'>
					<label for='name'>用户名</label>
					<input id='name' type='text' placeholder='用户名'>
				</div>
				<div class='pure-control-group'>
					<label for='pwd'>密码</label>
					<input id='pwd' type='password' placeholder='密码'>
				</div>
				<button type='submit' class='pure-button pure-button-submit'>登录</button>
				<div class='control-group'>
					<input id='remember' type='checkbox' value='记住我'/>
					<label for='remember' class='remember'>记住我</label>
					<a href='#' id='forget'>忘记密码</a>
				</div>
			</fieldset>
		</form>
	</div>
</body>
</html>